.NavItem {
   margin: 0;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 60px;
   cursor: pointer;

   position: relative; /* for tooltip */
}

.Link {
   color: #DDD;
   /* font-weight: bold; */
   font-size: 20px;
   margin-top: auto;
   margin-bottom: auto;
   transition: color 0.5s;
   text-decoration: none;
}

.NavItem:hover {
   background: rgb(52, 58, 64);
   border-top: 1px solid #666;
   border-bottom: 1px solid #666;
}

.Link:hover {
   color: #AAA;
} 

.Disabled:hover {
   background: inherit;
   border: inherit;
}

.Disabled .Link:hover {
   color: inherit;
   cursor: not-allowed;
}

@media (min-width: 500px) {
   .NavItem {
      margin: 0 10px;
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
   }
   .Link {
      color: #DDD;
      font-size:20px;
      padding: 15px 10px;
      margin: auto;
      cursor: pointer;
   }

   .NavItem:hover {
      /* border-bottom: 3px solid rgb(56, 99, 141); */
      background: inherit;
   }
}