.Skill {
   font-size: 25px;
   text-align: center;
   cursor: pointer;
   transition: color 0.5s;
}

.Skill:hover {
   color: #AAA;
}

.ProgressBar {
}

.Small {
  font-size: 20px;
}

@media(min-width: 650px) {
   .Skill {
      font-size: 30px;
   }
   .Small {
    font-size: 20px;
  }
}