.Controller {
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
}

.NoSkills {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media(min-width: 500px) {
   .Controller {
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin-top: 40px;
   }
}