.Button {
   background-color: transparent;
   border: none;
   color:#DDD;
   outline: none;
   cursor: pointer;
   font: inherit;
   width: 100px;
   transition: all 0.5s;
   margin: 0 5px;
}

.Highlight:hover {
   color: #AAA;
}

.Enlarge:hover {
   font-size: 30px;
}

@media(min-width: 500px) {
   .Button {
      margin: 0 20px;
   }

   .BorderLeft:hover {
      border-left: 1px solid #AAA;
   }
}